#btn {
  margin: 10px;
  margin-left: 50px;
  padding: 7px;
  padding-right: 20px;
  padding-left: 20px;
}

body {
  margin: 150px;
  margin-left: 500px;
}
#name {
  margin-left: 50px;
}

#age {
  margin-left: 60px;
}
#weight {
  margin-left: 40px;
}
